
  <nav class="jumbotron text-center">
    <h1 class="display-4">Move and Groove at your service</h1>
    <p class="lead">Do you fill like you want to be stronger, better, faster ?</p>
    <hr class="my-4 clean">
    <p>Just Jump In Our Sport Solutions ! Once in it, you won't believe it's real !</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">First month is free !</a>
    </p>
    <nav id="flashes">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </nav>
  </nav>
