<section class="text-center w-50 ">
  <h2>Some new promotion available !</h2>
  <p>Come sooner, leave happier !</p>
  <p>We offer trimestrial free courses to those who succeed our challenge !</p>
  <p>Wanna get involved ?</p>
  <button class="btn btn-primary">It's here</button>
</section>
<section class="text-center w-50">
  <h2>Participate our activities !</h2>
  <p>We offer exactly 6 diffrent activities you can choose from,</p>
  <p>Wanna get used to them ?</p>
  <%= link_to "It's all here !", activities_path, class: "btn btn-primary" %>
</section>
