body#controller_activities{
  main{
    form{padding: 1em;    border-radius: .5em;    background: whitesmoke;border:0px solid;transition: box-shadow .5s, border .7s, background .3s;}
    form:not(:hover){box-shadow: 0 0 5px 1px inset;}
    form:hover{border:1px solid wheat;background: #f5deb32e;}
    .card{
      transition: opacity .4s;
      .userActivities__Index__Cards{
        .when{text-decoration:underline;font-weight:bold;}
        .howlong{color:orange;}
      }
      form.userActivities__LogForm{z-index: -1;;opacity:0;position:absolute;}
      &.on form.userActivities__LogForm{z-index: unset;opacity:1;;top:1%;left:1%;width:98% !important;background:whitesmoke;}
    }
  }
}
