/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @font-face {
   font-family: "h1";
   src: url("fluid-groove.ttf") format("TrueType");
 }
 @font-face {
  font-family: "h2";
  src: url("GistLight.otf") format("OpenType");
 }
 @font-face {
  font-family: "h3";
  src: url("Playball.ttf") format("TrueType");
 }
 @font-face {
  font-family: "h3footer";
  src: url("TheyPerished.ttf") format("TrueType");
 }
 @font-face {
  font-family: "jumbotron";
  src: url("AlbertText-Bold.ttf") format("TrueType");
 }
 @font-face {
  font-family: "jumbotron2";
  src: url("Playball.ttf") format("TrueType");
 }
 @font-face {
  font-family: "gotic";
  src: url("dc_s.ttf") format("TrueType");
 }
 @font-face {
  font-family: "btns";
  src: url("Wedgie Regular.ttf") format("TrueType");
 }
 a.active {
   color: #6699ff !important;
   /* other styling here, as desired */
 }
 *:not(.navbar>a *){font-family:arial;}
 a.btn,input.btn,button.btn{font-family:"gotic";}
 h1,.h1{background: -webkit-linear-gradient(#eee, #333);  -webkit-background-clip: text;  -webkit-text-fill-color: transparent;
   font-size:6em !important;
   font-family: "h1";
 }
 h2,.h2{font-family: "h2";}
 h3,.h3{font-family: "h3";}
 footer h3{font-family: "h3footer";}
 hr:not(.clean){border-top: .1px solid silver;width:100%;}
 ul:not(.clean){list-style: none;}
 /**********************************************************************************/
 /**********************************************************************************/
 /**********************************************************************************/
 .beforeoverall:before{content: "";    position: absolute;    top: 0;    bottom: 0;    left: 0;    right: 0;    background: rgba(111,111,111,.5);}
 /**********************************************************************************/
 /**********************************************************************************/
 /**********************************************************************************/
 #bo_dashboard li{text-decoration: line-through;}
 /**********************************************************************************/
 /**********************************************************************************/
 /**********************************************************************************/
#error_explanation{
  h2{text-decoration:underline;}
  h2{text-decoration:underline;}
}
